[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
keyring = "*"
pywin32 = {version = "*", sys_platform = "== 'win32'"}
secretstorage = {version = "*", sys_platform = "== 'linux'"}

[dev-packages]

[requires]
python_version = "3.6.6"
